name: Frontend CI

on:
  push:
    branches:
      - infra-setup-ajara
  pull_request:
    branches:
      - infra-setup-ajara

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test -- --watchAll=false

      - name: Build
        run: npm run build
