name: Deploy to STAGING

on:
  push:
    branches: [staging]
  workflow_dispatch:

jobs:
  build:
    runs-on: hng-13-runner

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run Linter
        run: npm run lint

      - name: Build frontend
        run: npm run build

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build FE
        run: npm run build

      - name: Upload build to server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          source: ".next/*,public/*,package.json,package-lock.json"
          target: "/var/www/stock-keeping-staging"
          strip_components: 0

      - name: Deploy and restart
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd /var/www/stock-keeping-staging
            npm ci --omit=dev
            pm2 restart stock-keeping-staging || pm2 start node --name stock-keeping-staging --cwd /var/www/stock-keeping-staging -- node_modules/.bin/next start -p 3002
